{% extends 'custombase.html' %}

{% block title %}
{{current_user.user_name}} Orders
{% endblock %}


{% block content %}
{% if ord %}
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="pb-2 border-bottom">Your orders</h1>
    </div>
    <div class="container">
        <ul class="list-group">
        {% for o in ord %}
        <li class="list-group-item d-flex flex-row align-items-center justify-content-between">
            <a href="{{ url_for('my_orders', o_id=o.o_id) }}">Order #{{o.o_id}} from {{o.o_date}}</a>
            <label class="px-1 border-start">Total: <i class="bi bi-currency-dollar"></i>{{o.o_contents[1][0]}} / {{o.o_contents[1][1]}} pcs</label>
            <label class="px-1 border-start">State: {{'Completed' if o.o_state else 'Processing'}}</label>
            <a href="{{ url_for('my_orders', o_id=o.o_id) }}" class="btn btn-outline-primary" >Get Help</a>
        </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="pb-2 border-bottom">No orders</h1>
    </div>
{% endif %}
{{ super() }}
{% endblock %}