{% extends 'custombase.html' %}

{% block title %}
Order #{{o.o_id}} from {{o.o_date}}
{% endblock %}


{% block content %}
{% if cc %}
<div class="d-flex align-items-center justify-content-center">
    <h1 class="pb-2 border-bottom">Contents</h1>
</div>
<div class="container">
    <ul class="list-group">{% for p in cc %}<li class="list-group-item d-flex flex-row align-items-center justify-content-between">
        <a href="{{ url_for('products', p_id=cc[p][0].p_id) }}">{{cc[p][0].p_name}}</a>
        <label class="px-1 border-start"><i class="bi bi-currency-dollar"></i>{{cc[p][0].p_price}}<i class="bi bi-x"></i>{{cc[p][1]}}</label>
    </li>{% endfor %}
    </ul>
</div>
<div class="input-group container d-flex justify-content-between mt-2 mb-3">
    <label class="btn btn-outline-primary active" id="total-label">Total(from {{o.o_date}}):</label>
    <label class="form-control" aria-describedby="total-label">
        <i class="bi bi-currency-dollar"></i>{{ tot[0] }} for {{tot[1]}} items
    </label>
</div>
<div class="container">
    <a class="btn btn-outline-primary" href="{{ url_for('my_orders') }}">Back to orders</a>
</div>
{% else %}
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="pb-2 border-bottom">You haven't ordered anything yet.</h1>
    </div>
{% endif %}
{{ super() }}
{% endblock %}